/*_variables.scss */
/* Body Text Styles */
$text-color: black;
$base-font-size: 16px;
$base-font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;

//BORDES Y MARGENES
$margenLat:50px;
$margenGra:100px;


// COLORES 
$colorPrin:#003D6E;
$colorSec:#4D92E2;



